{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
{% endblock %}


{% block title %}
About Us
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}  
{% endblock %}

{% block body %}
<div class="pricing-header mx-auto text-center">
    <br>
    <img src="{% static 'images/logo.png' %}" alt="Logo">
    <hr>
</div>

<h1 style="text-align: center;">About Us:</h1>
<hr>
<p style="text-align: center;">Hey there! This is about us page!</p>
<p style="text-align: center;">This web app is developed by 21MCI1072-Kaushal Giri Goswami</p>
<p style="text-align: center;">Student of Chandigarh University</p>
<hr>
<br>

{% include "footer.html"%}
{% endblock %}