<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- base.html meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block stylesheets %}{% endblock %}
        <header class="sticky-top" style="z-index: 60;">
        {% load static %}
        {% block navbar %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
    {% block scripts %}{% endblock %}
</html>